@media screen and (min-width: 1366px) and (max-width: 1400px) {
  .cta-area-3 .cta-card .sec-title {
    font-size: 26px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1365px) {
  .cta-area-3 .cta-card .sec-title {
    font-size: 23px;
  }
}
@media (max-width: 1199px) {
  .cta-area-3 .cta-card .sec-title {
    font-size: 20px;
  }
  .cta-area-3 .cta-card {
    padding: 40px;
  }
}
@media (max-width: 991px) {
  .cta-area-3 .cta-card .sec-title {
    font-size: 24px;
  }
  .menu-top .menu-top-left .header-link {
    font-size: 14px;
    margin-right: 8px;
  }
  .load-modal.video-modal .modal-dialog {
    max-width: 91% !important;
  }
  .th-menu-wrapper .mobile-logo img {
    height: 140px;
}
}
@media (max-width: 767px) {
  .menu-top .menu-top-left {
    gap: 10px;
    margin-bottom: 5px;
  }
  .menu-top .menu-top-left .header-link:first-child {
    margin-top: 4px;
  }
  .menu-top .menu-top-left .header-link {
    font-size: 12px;
  }
  .menu-top .header-link svg {
    display: none;
  }
  .load-modal.video-modal .modal-dialog .modal-content {
    height: 295px;
  }
  .load-modal.video-modal .modal-dialog .modal-content iframe {
    height: 250px;
  }
  .header-logo .logo-img {
    height: 80px;
  }
  .th-menu-wrapper .mobile-logo img {
    height: 120px;
  }
  .register-modal.load-modal {
    padding-right: 0 !important;
  }
}
@media (max-width: 575px) {
  .cta-area-3 .cta-card .sec-title {
    font-size: 18px;
  }
  .cta-area-3 .cta-card {
    padding: 25px;
  }
  .team-card.style2 .team-img-wrap .team-shape {
    width: 100%;
    height: 108%;
}
.team-card.style2 .team-img-wrap .team-shape {
  top: -15px !important;
}
}
@media (max-width: 389px) {
  .header-link .city-text {
    margin-right: 0px;
  }
}
